html,
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    font-style: normal;
    height: 100%;
    width: 100%;
    color: #fff;
    font-weight:normal;
}
h4{
    font-family: 'Roboto', sans-serif;
    font-weight:normal;
}
.main{
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .4);
}

.images-block {
    box-sizing: border-box;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    width: 100%;
    font-size: 0;
    height: 100%;
    position: relative;
}

.info-dev{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    z-index: 10;
    background-color: rgba(0,0,0,0.5);
    color: #fff;
    font-size: 1rem;
    padding: 1% 0;
    margin: 0;

}

.img {
    position: relative;
    width: 33.3%;
    display: inline-block;
    vertical-align: top;
    height: 100%;
}
.img.last-image{
    background-image: url('/assets/images/3.jpg');
    display: inline-block;
    vertical-align: top;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;

}